<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <span>@ViewBag.Mensagem</span>
    </br>
    <a title='Cadastar novo livro' href='/Livros/ParaLer' class='hyperlink'>
        <span>Livros para Ler</span>
</body>
</html>