<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <span>@ViewBag.Mensagem</span>
    </br>

    <button href='/Livros/ParaLer'>Livros para Ler</button>
    <button onclick="history.back()">Voltar</button>
</body>
</html>